{% extends './../main-layout.html' %}
{% load static %}

{% block content %}
        <div class="High_conbox">
            <div class="card">
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center" colspan="2" rowspan="2">Owner</th>
                          <th class="text-center" rowspan="2">Est Days</th>
                          <th class="text-center" rowspan="2">Start</th>
                          <th class="text-center" rowspan="2">Due</th>
                          <th class="text-center" rowspan="2">Status</th>
                          <th class="text-center" rowspan="2">Notes</th>
                          <th class="text-center" colspan="5">January</th>
                          <th class="text-center" colspan="4">February</th>
                          <th class="text-center" colspan="4">March</th>
                          <th class="text-center" colspan="4">April</th>
                          <th class="text-center" colspan="4">May</th>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>10</td>
                            <td>17</td>
                            <td>24</td>
                            <td>31</td>
                            <td>7</td>
                            <td>14</td>
                            <td>21</td>
                            <td>28</td>
                            <td>7</td>
                            <td>14</td>
                            <td>21</td>
                            <td>28</td>
                            <td>4</td>
                            <td>11</td>
                            <td>18</td>
                            <td>25</td>
                            <td>2</td>
                            <td>9</td>
                            <td>16</td>
                            <td>23</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="pt-3-half" contenteditable="false">Model Creation / Package & Label Training</td>
                          <td class="pt-3-half" contenteditable="false">Bottler & Maxerience</td>
                          <td class="pt-3-half" contenteditable="false">35</td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false">SKU MD, Outlet MD, SKU delivery, model training. Depends on the quantity of SKUs</td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                          <td class="pt-3-half" contenteditable="false"></td>
                        </tr>
                        <tr>
                            <td class="pt-3-half" contenteditable="false">Application definition</td>
                            <td class="pt-3-half" contenteditable="false">Bottler & Maxerience</td>
                            <td class="pt-3-half" contenteditable="false">30</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false">Native & Web,  Payment gateway, local translations, screens </td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                          </tr>
                          <tr>
                            <td class="pt-3-half" contenteditable="false">Payment Gateway Integration</td>
                            <td class="pt-3-half" contenteditable="false">Bottler & Maxerience</td>
                            <td class="pt-3-half" contenteditable="false">45</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false">Timeline to be confirmed once we have all integration details (requirements may vary for different providers)</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                          </tr>
                          <tr>
                            <td class="pt-3-half" contenteditable="false">HW Delivery & Retrofitting & Tests & Transportation</td>
                            <td class="pt-3-half" contenteditable="false">Bottler & OEM & Maxerience</td>
                            <td class="pt-3-half" contenteditable="false">30</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false">OEM HW, SIM, retrofitting, health checks, transportation to bottler</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                          </tr>
                          <tr>
                            <td class="pt-3-half" contenteditable="false">Initial Tests On Bottler Level & Distribution </td>
                            <td class="pt-3-half" contenteditable="false">Bottler & OEM & Maxerience</td>
                            <td class="pt-3-half" contenteditable="false">10</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false">Coolers distribution MD, model assignment, bottler initial tests (health check)</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                          </tr>
                          <tr>
                            <td class="pt-3-half" contenteditable="false">Monitoring Period</td>
                            <td class="pt-3-half" contenteditable="false">Bottler & Maxerience</td>
                            <td class="pt-3-half" contenteditable="false">25</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false">Starts since the first cooler on the market is online and ends 2 weeks after the lest cooler is running. </td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                          </tr>
                          <tr>
                            <td class="pt-3-half" contenteditable="false">Project Closure & Recap & Mooving to Operations </td>
                            <td class="pt-3-half" contenteditable="false">Coca-Cola & Bottler & Maxerience</td>
                            <td class="pt-3-half" contenteditable="false">10</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false">Data collection, recap meeting, documentation handover & project closure</td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                            <td class="pt-3-half" contenteditable="false"></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
{% endblock %}