{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>

    <link rel="icon" href="{% static 'assets/image/icon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    
    <style>
        @media screen and (max-width: 1300px) {
        }
    </style>

</head>
<body>
    <div class="box">
        <div class="header">
            <a href="/select-customer"><img class="logo" src="{% static 'assets/image/logo.png' %}"></a>
        </div>
        <div class="btn-box">
            <button type="button" onclick="location.href = '/signup'" class="btn btn-warning larger">New Customer</button><br /><br /><br />
            <button type="button"  onclick="location.href = '/login'" class="btn btn-warning larger">Existing Customer</button>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>