{% extends './main-layout.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
        <div class="imgCard">
            <br><br><br>
            <div class="card">
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <div class="d-flex justify-content-start mb-2">
                      <button id="delete-row" class="btn btn-danger btn-sm" disabled><i class="mdi mdi-close mr-1"></i>Delete</button>
                    </div>
                    <table class="user-management table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center" width="80">
                            <div class="checkbox checkbox-danger">
                              <input id="all-check" type="checkbox">
                              <label for="all-check">
                                  &nbsp;
                              </label>
                            </div>
                          </th>
                          <th class="text-center">Email</th>
                          <th class="text-center" width="120">Status</th>
                          <th class="text-center" width="170">Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for userRow in users %}
                          {% if userRow.id != user.id %}
                            <tr user-id="{{ userRow.id }}">
                                <td class="pt-3-half">
                                  <div class="checkbox checkbox-danger">
                                    <input id="checkbox{{ forloop.counter }}" type="checkbox">
                                    <label for="checkbox{{ forloop.counter }}">
                                        &nbsp;
                                    </label>
                                  </div>
                                </td>
                                <td class="pt-3-half" contenteditable="false" align="left">
                                    {{ userRow.email }}
                                </td>
                                <td class="pt-3-half" align="left">
                                  <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input status" id="statusSwitch{{ forloop.counter }}" {% if userRow.is_active %}checked{% endif %}>
                                    <label class="custom-control-label" for="statusSwitch{{ forloop.counter }}">
                                      {% if userRow.is_active %}
                                        Active
                                      {% else %}
                                        Inactive
                                      {% endif %}
                                    </label>
                                  </div>
                                </td>
                                <td class="pt-3-half" align="left">
                                  <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input role" id="roleSwitch{{ forloop.counter }}" {% if userRow.is_staff %}checked{% endif %}>
                                    <label class="custom-control-label" for="roleSwitch{{ forloop.counter }}">
                                      {% if userRow.is_staff %}
                                        Administrator
                                      {% else %}
                                        User
                                      {% endif %}
                                    </label>
                                  </div>
                                </td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
{% endblock %}

{% block pagedetail %}
var csrf_token = "{{ csrf_token }}";
var page_name = 'user-management';
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/user-management.js' %}"></script>
{% endblock %}